################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GuidoAloise/FileContentIndex/5ac59dea-4ada-46c5-a607-1d0bd7d6b15a.vsidx
/.vs/GuidoAloise/FileContentIndex/e01e922a-4c2e-4a6b-b587-3bd1dc9a8a1d.vsidx
