@using GuidoAloise.Components
@inherits LayoutComponentBase

<div class="app-container">
    <NavMenu />

    <div class="main-content">
        <Header />
        <div class="body-content">
            @Body
        </div>

        <Footer />
    </div>
</div>